fastapi
sentence-transformers
uvicorn
streamlit
elasticsearch
langchain
langchain-community
langchain-elasticsearch
sentence-transformers
transformers
torch
google-api-python-client
google-auth-oauthlib
PyPDF2
python-multipart
pydantic
python-dotenv
redis
aiofiles
httpx
ollama
streamlit-chat
plotly
requests
httpx
